* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;}


/* fonts */
@font-face {
  font-family: "blueberry";
  src: url("/fonts/blueberryregular.otf");
}

@font-face {
  font-family: "hannahandwriting";
  src: url("/fonts/hannahandwriting.ttf");
}

.link {
  font-size: 0.8rem;
  color: #9a80b0;}

.link a {
  font-size: 0.8rem;
  color: #778f69;}

/* .typography {} */
span{
  color: #778f69;
}
/*  Utility Classes  */

.centered {
  text-align: center;
}

h1 {
  font-family: blueberry;
  color:
}

h2 {
  font-family: blueberry;
  color: #778f69;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: hannahandwriting;
  font-size: 1rem;
}
.bg-image {
  background-size: cover;
  background-position: center;
}

.common-image img {
  max-width: 70%;
  border-radius: 10%;
  margin:auto;
  display: block;
}


/* Headers and footers  */
body:not(.home) {
  padding: 15rem 5% 0;
  background: url(/images/backgroundfade-01.jpg) repeat-x top center;
}


header {
  position: absolute;
    top: 1rem;
    left: 5%;
    right: 5%;
    z-index: 3;
    background-color: d5b1ce;
    border-radius: 32px;
    padding: 1.2rem;
    max-width: 82%;
    margin: 2rem auto 0;
    border: solid 1px #9a80b0;
}

.header-inner {
  background-color: ebd1db;
    border-radius: 23px;
    border: solid 1px #9a80b0;
}

 header a {
   padding: 0.5rem 1rem;
     background-color: white;
     border: 6px solid #fdf2f7;
     border-radius: 1rem;
     display: inline-block;
     color: inherit;
     text-decoration: none;
     margin: -1rem 2rem;
     line-height: 1;
     vertical-align: middle;
     font-family: blueberry;
     font-size: 1.3rem;
     color: #49583d;


}


header .logo img {
  max-width: 113px;
  margin-top: -45px;
}

.home footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

}

footer {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #9a80b0;
}

footer a {
  padding: 1rem;
}

/* page classes */
.book  {
  margin:5%
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }
