<!<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
      <!-- Gridlex -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>
      <!-- our own custom stylesheet -->

      <link rel="shortcut icon" type="image/png" href="\images/tab.png"\>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet"/>

      <link rel="stylesheet" href="/slick/slick.css"/>
      <link rel="stylesheet" href="/slick/slick-theme.css"/>

      <link rel="stylesheet" href="/style.css"/>
  </head>

  <body class="{{page.class}}">

      <header>
        <div class=" header-inner centered">
          <!-- <a href="/story.html" class = "grow"> story </a> -->
          <!-- <a href="/shop.html" class = "grow"> shop </a> -->
          <!-- <a href="/index.html" class="logo grow">
              <img src="/images/logo-for-web-01.png">
              <h1> Planet <span>B</span> </h1>
          </a> -->
          <a href="video\dougthelitterbug.mp4" download class="logo grow">
              <img src="/images/logo-for-web-01.png">
              <h1> Download<span> Reading</span> </h1>
          </a>
          <!-- <a href="explore.html" class ="grow"> explore </a> -->
          <!-- <a href="connect.html" class ="grow"> connect </a> -->
      </div>
    </header>

    {{content}}

    <footer class="col-12 center">
      <nav class="inline socials">
        <a href="https://www.facebook.com/PlanetB.projects/"target="_blank" class="grow">
          <i class="fab fa-facebook-square grow"></i>
        </a>
        <a href ="mailto:hello@candyandtheking.com">
            <i class="far fa-envelope grow"></i>
        </a>
      </nav>
      <p class="link centered"> built by <a href="https://www.candyandtheking.com"> candy and the king</a>
      </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="/slick/slick.min.js"></script>
    <script>

    $(document).ready(function(){
      $('.image-slider').slick({
        autoplay: true,
        autoplaySpeed: 2000
      });
    });

    </script>

  </body>
</html>
